.add-form {
    background: #A5B5BF;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 3px;
    box-shadow:
    -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
    -moz-box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
}

.row {
    display: flex;
}

.sidebar-filters {
    background: #BD6B73;
    padding-top: 20px;
}

.active {
    color: #BD6B73 !important;
}
